table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid rgb(238, 255, 5);
    padding: 8px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #64fb0d;
}

body {
    background-image: url('p.jpg');
    background-size: cover;
    background-position: center;
}

h2, h3, form {
    color: rgb(255, 0, 102);
}
  